@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
}

html {
  color: var(--text-color);
}

.light {
  --color-primary: #fbfbfe;
  --color-primary-even: #fdf0d5;
  --color-primary-odd: #fbfbfe;
  --title-color-odd: #eb5e55;
  --title-color-even: #3a3335;
  --text-color: #243133;
}

.dark {
  --color-primary: #243133;
  --color-primary-even: #283845;
  --color-primary-odd: #202c39;
  --title-color-odd: #f2d492;
  --title-color-even: #f29559;
  --text-color: #fbfbfe;
}

.component:nth-of-type(even) {
  background-color: var(--color-primary-even);
}
.component:nth-of-type(odd) {
  background-color: var(--color-primary-odd);
}
.component {
  /* height: 100vh; */
  min-height: 100vh;

  /* border: solid red; */
  background-color: var(--color-primary);
}

.toggler {
  position: fixed;
  top: 5%;
  left: 5%;
}

/* .ant-layout {
    height: 100vh;
    border: solid black;
    display: block;
} */

.skillbar-bar {
  background-color: var(--title-color-odd) !important;
}
.skillbar-title {
  background-color: var(--color-primary-odd) !important;
  color: var(--text-color) !important;
}

.ant-switch-checked {
  background-color: #243133 !important;
}

.ant-switch {
  background-color: rgb(230, 230, 59);
}

.ant-col {
  padding: 8px;
  margin: 10px;
}

.ant-typography {
  font-size: 18px;
  color: var(--text-color) !important;
}

.ant-timeline-item-content {
  color: var(--text-color) !important;
}
section:nth-child(odd) h1.ant-typography {
  color: var(--title-color-odd) !important;
}
section:nth-child(even) h1.ant-typography {
  color: var(--title-color-even) !important;
}

section:not(:first-child) {
  margin-top: -5%;
}

.Typewriter {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: var(--title-color-odd);
}

.icon {
  font-size: 50px !important;
  color: var(--text-color) !important;
}

span.vertical-timeline-element-date {
  color: white !important;
}

.vertical-timeline-element-title {
  color: white !important;
}

.vertical-timeline-element-subtitle {
  color: white !important;
}

footer {
  background-color: var(--color-primary-even) !important;
  color: var(--text-color) !important;
}
